/* Feuille de style pour exemple.html */
h1 {
    border: double rgb(54, 198, 241) 3pt;
    font-family: Arial, serif;
    font-size: 16pt;
    text-align: center;
    color: rgb(3, 3, 20);
    background-color: rgb(207, 60, 139);
    /* expliquer la couleur */
    margin: 10pt;
    padding: 20pt;
}

p {
    font-weight: bold;
    color: #e03737;
    margin-left: 20px;
}

ul {
    font-style: italic;
    color: rgb(35, 128, 35);
    /* expliquer la couleur */
    background-color: #bfcad6;
    /* expliquer le rendu */
    width: 50%;
}